/* -------------------------------- 

Primary style

-------------------------------- */

.content {
	max-width: 700px;
	margin: 0 auto;
}

.lede {
	width: 100%;
	position: relative;
	margin-bottom: 1em;
}

header {
	margin: 0 auto 2rem;
	// max-width: 580px;
	position: absolute;
	right: 2%;
	bottom: 3%;
	text-align: right;
	width: 40%;

}

video {
	width: 100%;
}

.video {
	width: 100%;
	margin-bottom: 2em;
	background-color: pink;
	height: 460px;
}

.lede-img {
	width: 100%;
	// background: #ccc;

	// background: url("../img/2012_MCDHOBB_EC019_H.jpg") no-repeat 0 30%;
	background-size: cover;
	min-height: 450px;
}

figcaption, .caption {
	font-size: 0.7em;
	font-family: $NHaas;
	color: rgba($black, 0.6);
	text-align: right;
	margin-right: 0.325em;
}

blockquote {
	font-size: 0.9em;
	margin: 2em 0;
	padding: 2em;
	// border-top: 1px solid rgba($black, 0.2);
	// border-bottom: 1px solid rgba($black, 0.2);
	background-color: rgba($black, 0.05);
	// font-family: $tiempos-semibold;

	em {

	}

	p:last-of-type  {
		margin: 0;
	}
}

.pullquotes {
	font-size: 1.5em;
	position: relative;
	// float: left;
	// width: 58%;
	// line-height: 2.5rem;
	margin-bottom: 2rem;
	// margin-left: -8rem;
	// padding-right: 2rem;

	&::before, &::after {
		position: absolute;
	    font-size: 3em;
	    opacity: 0.2;
	}

	&::before {
		content: "\201C";
		top: -2rem;
	    left: -2.75rem;
	}

	&::after {
		content:"\201D";
		// bottom: -2rem;
	    // right: -2.75rem;
	}
}

ul {
	margin-bottom: 1.5em;
	list-style-type:initial;
	margin-left: 3rem;
}

li {
	margin-bottom: 0.5em;
	font-size: 0.9em;
}

.divider {
	color: rgba($black, 0.7);
	text-align: center;
	margin: 2em auto 1.5em;
}