/* page compilation --*/
/* line 1, ../scss/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #2B00F7;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 21, ../scss/base/_buttons.scss */
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
button:hover,
button:focus {
  background-color: #1e00ab;
  color: #fff;
}
/* line 27, ../scss/base/_buttons.scss */
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, ../scss/base/_forms.scss */
fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.8125em;
  padding: 1.625em;
}

/* line 8, ../scss/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
}

/* line 16, ../scss/base/_forms.scss */
label {
  font-weight: 600;
  margin-bottom: 0.40625em;
}
/* line 20, ../scss/base/_forms.scss */
label.required::after {
  content: "*";
}
/* line 24, ../scss/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, ../scss/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
  margin-bottom: 0.8125em;
  padding: 0.54167em;
  transition: border-color;
  width: 100%;
}
/* line 44, ../scss/base/_forms.scss */
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
select[multiple=multiple]:hover,
textarea:hover {
  border-color: #c4c4c4;
}
/* line 48, ../scss/base/_forms.scss */
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
select[multiple=multiple]:focus,
textarea:focus {
  border-color: #2B00F7;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(39, 0, 222, 0.7);
  outline: none;
}

/* line 55, ../scss/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../scss/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, ../scss/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.40625em;
}

/* line 69, ../scss/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.8125em;
  width: 100%;
}

/* line 74, ../scss/base/_forms.scss */
select {
  margin-bottom: 1.625em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../scss/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 20, ../scss/base/_lists.scss */
dl {
  margin-bottom: 0.8125em;
}
/* line 23, ../scss/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.8125em;
}
/* line 28, ../scss/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../scss/base/_tables.scss */
table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.8125em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 9, ../scss/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.8125em 0;
  text-align: left;
}

/* line 16, ../scss/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.8125em 0;
}

/* line 21, ../scss/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, ../scss/base/_typography.scss */
body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
  font-size: 1.125em;
  line-height: 1.625;
}

/* line 11, ../scss/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  line-height: 1.2;
  margin: 0 0 0.8125em;
}

/* line 24, ../scss/base/_typography.scss */
h1 {
  font-size: 4rem;
  line-height: 1.1em;
  margin-bottom: 0.1em;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(60, 60, 60, 0.3);
  display: inline;
}

/* line 38, ../scss/base/_typography.scss */
p {
  margin: 0 0 1.625em;
}

/* line 42, ../scss/base/_typography.scss */
em {
  font-family: "TiemposTextWeb-RegularItalic", "Georgia", "Cambria", "Times New Roman", "Times", serif, serif;
}

/* line 46, ../scss/base/_typography.scss */
a {
  color: #2B00F7;
  text-decoration: underline;
  transition: color 0.1s linear;
}
/* line 52, ../scss/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #1e00ab;
}
/* line 58, ../scss/base/_typography.scss */
a:active, a:focus {
  outline: none;
}

/* line 64, ../scss/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.625em 0;
}

/* line 72, ../scss/base/_typography.scss */
img,
picture {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

/* placeholders */
/* -------------------------------- 

Primary style

-------------------------------- */
/* line 8, ../scss/_main.scss */
#main section {
  max-width: 700px;
  margin: 0 auto;
}
/* line 13, ../scss/_main.scss */
#main .lede {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}

/* line 20, ../scss/_main.scss */
header {
  margin: 0 auto 2rem;
  position: absolute;
  right: 2%;
  bottom: 3%;
  text-align: right;
  width: 40%;
}

/* line 31, ../scss/_main.scss */
video {
  width: 100%;
}

/* line 35, ../scss/_main.scss */
.video {
  width: 100%;
  margin-bottom: 2em;
  background-color: pink;
  height: 460px;
}

/* line 42, ../scss/_main.scss */
.lede-img {
  width: 100%;
  background-size: cover;
  min-height: 450px;
}

/* line 51, ../scss/_main.scss */
.caption {
  font-size: 0.7em;
  font-family: "NHaasGroteskDSPro-55Rg", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
  color: rgba(60, 60, 60, 0.6);
  text-align: right;
  margin-right: 0.325em;
}

/* line 59, ../scss/_main.scss */
blockquote {
  font-size: 0.9em;
  margin: 2em 0;
  padding: 2em;
  background-color: rgba(60, 60, 60, 0.05);
}
/* line 72, ../scss/_main.scss */
blockquote p:last-of-type {
  margin: 0;
}

/* line 77, ../scss/_main.scss */
.pullquotes {
  font-size: 1.5em;
  margin-bottom: 2em;
  position: relative;
}
/* line 82, ../scss/_main.scss */
.pullquotes::before, .pullquotes::after {
  position: absolute;
  font-size: 3em;
  opacity: 0.2;
}
/* line 88, ../scss/_main.scss */
.pullquotes::before {
  content: "\201C";
  top: -2rem;
  left: -2.75rem;
}
/* line 94, ../scss/_main.scss */
.pullquotes::after {
  content: "\201D";
}

/* line 101, ../scss/_main.scss */
ul {
  margin-bottom: 1.5em;
  list-style-type: initial;
  margin-left: 3rem;
}

/* line 107, ../scss/_main.scss */
li {
  margin-bottom: 0.5em;
  font-size: 0.9em;
}

/* line 112, ../scss/_main.scss */
.divider {
  color: rgba(60, 60, 60, 0.7);
  text-align: center;
  margin: 2em auto 1.5em;
}

/*-- MEDIA QUERIES -- */
/* MOBILE */
@media screen and (max-width: 560px) {
  /* line 4, ../scss/mediaqueries/_mobile.scss */
  #main section {
    width: 90%;
  }

  /* line 9, ../scss/mediaqueries/_mobile.scss */
  header {
    width: 96%;
    margin-bottom: 0.5rem;
  }

  /* line 14, ../scss/mediaqueries/_mobile.scss */
  .subhed {
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    background-color: rgba(60, 60, 60, 0.5);
    font-size: 0.9rem;
  }

  /* line 21, ../scss/mediaqueries/_mobile.scss */
  h1 {
    font-size: 1.8rem;
    background-color: rgba(60, 60, 60, 0.5);
  }
}
/* TABLET */
/* RETINA */
/* Print Styles
 ========================================================================== */
@media print {
  /* line 5, ../scss/mediaqueries/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 12, ../scss/mediaqueries/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 17, ../scss/mediaqueries/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 21, ../scss/mediaqueries/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*Don't show links for img, or javascript/internal links*/
  /* line 26, ../scss/mediaqueries/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 30, ../scss/mediaqueries/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 33, ../scss/mediaqueries/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 35, ../scss/mediaqueries/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 38, ../scss/mediaqueries/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 42, ../scss/mediaqueries/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 46, ../scss/mediaqueries/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
